// ////////////////////////////////
// COLORS
// ////////////////////////////////

$brand-red: #e75556;
$brand-pink: #cd3462;
$brand-yellow: #f2d458;
$brand-blue: #3f5a9f;
$brand-green: #23916e;
$brand-green-dark: #23916e;
$brand-orange: #e87846;
