@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #cd3462 !default;
$brand-success: #23916e !default;
$brand-warning: #f2d458 !default;
$brand-danger: #e75556 !default;
$brand-info: #3f5a9f !default;
$brand-orange: #e87846 !default;
$brand-gray: #252525 !default;
$black: #000000 !default;

$font-color: #242424 !default;

$body-bg: #fff !default;
$text-color: $font-color !default;

$section-bg: #d3d3d3 !default;

$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Roboto", Georgia, "Times New Roman", Times, serif !default;

$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$instagram: #396d9a !default;

@import "variables";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { font-family: $font-family-sans-serif; }

.primary-bg { background-color: $brand-primary;}
.success-bg { background-color: $brand-success;}
.warning-bg { background-color: $brand-warning;}
.danger-bg { background-color: $brand-danger;}
.info-bg { background-color: $brand-info;}
.orange-bg { background-color: $brand-orange; }
.gray-bg { background-color: $brand-gray; }
.white-bg { background-color: white; }
.black-bg { background-color: $black; }

.primary { color: $brand-primary; }
.success { color: $brand-success; }
.warning { color: $brand-warning; }
.danger { color: $brand-danger; }
.info { color: $brand-info; }
.orange { color: $brand-orange; }
.gray { color: $brand-gray; }
.black { color: $black; }
.white {
  color: white;
  &:hover { color: white; }
  &:active { color: white; }
  &:focus { color: white; }
}

// Buttons
.btn { border-radius: 0; }
.btn-brand {
  @include button-variant($brand-primary, white, $brand-primary);
  border-width: 2px;
  padding: 8px 25px;
  font-size: 12px;
  font-weight: bold;
  transition: all 400ms ease;
  &:hover { @include button-variant(white, $brand-primary, $brand-primary); }
}
.btn-light {
  @include button-variant(white, transparent, white);
  font-size: 10px;
  font-weight: bold;
  padding: 12px 25px;
  transition: all 400ms ease;
  &:hover { @include button-variant(black, white, white); }
}

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img { @include transition(all 300ms ease); }
img.doneLoading { opacity: 1; }
nav li:hover .dropdown-menu { display: block; }
a { text-decoration: none; }
ul { list-style: none; padding: 0; }
ul > li { display: inline-block; }
/* Start writing sass here */

// HEADER
header {
  @include size(100%, 100%);
  padding: 20px 0 10px;
  font-size: 12px;
  .links { margin-top: 5px; }
  .local-links { font-size: 18px; }
  a { @extend .white; }
  ul {
    li { margin-right: 20px; }
    li:last-child { margin: 0; }
  }
}

// Footer
footer {
  padding: 20px 0 10px;
  font-size: 16px;
  a { @extend .white; }
}

// Home
.home { background-color: #fbfbfb; }
.header-nav {
  box-shadow: 0px -5px 25px $brand-gray;
  padding: 20px 0 10px;
}
.other-links {
  font-size: 12px;
  font-weight: bold;
  ul {
    li { margin-right: 20px; }
    li:last-child { margin: 0; }
  }
}
.home-main {
  padding: 50px;
  .home-block {
    @include size(100%, 400px);
    position: relative;
    padding: 20px;
    text-shadow: 0px 0px 1px $brand-gray;
    transition: all 400ms ease;
    &:hover { transform: scale(1.01); }
    p {
      font-size: 16px;
      font-weight: bold;
    }
    h2, h3, h4 {
      @include size(60%, auto);
      font-weight: 100;
    }
    h2 { font-size: 60px; }
    h3 { font-size: 48px; }
    h4 { font-size: 38px; }
    .inner-block { @include position(absolute, auto auto 20px auto); }
  }
  .one {
    &:hover { transform: scale(1.005); }
  }
  .one {
    @include size(100%, 400px * 2);
    @include back('home/1.png');
  }
  .two { @include back('home/2.jpg'); }
  .three { @include back('home/3.jpg'); }
  .four { @include back('home/4.png'); }
  .five { @include back('home/5.jpg'); }
  .six { @include back('home/6.jpg'); }
  .seven { @include back('home/7.jpg'); }
  .eight { @include back('home/8.png'); }
  .nine { @include back('home/9.png'); }
}

.mag-section {
  padding: 50px;
  h2 {
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: bold;
  }
  .mag-block {
    @include size(100%, 400px);
    position: relative;
    padding: 20px;
    text-shadow: 0px 0px 1px $brand-gray;
    transition: all 400ms ease;
    h3 {
      color: white;
      opacity: 0;
      display: inline-block;
      @include position(absolute, auto auto -50px auto);
    }
    &:hover {
      h3 {
        opacity: 1;
        @include position(absolute, auto auto 20px auto);
        transition: all 400ms linear;
      }
    }
  }

  .mag-one { @include back('mag/1.png'); }
  .mag-two { @include back('mag/2.jpg'); }
  .mag-three { @include back('mag/3.png'); }
  .mag-four { @include back('mag/4.png'); }
  .mag-five { @include back('mag/5.png'); }
  .mag-six { @include back('mag/6.jpg'); }
  .mag-seven { @include back('mag/7.jpg'); }
  .mag-eight { @include back('mag/8.png'); }
  .mag-nine { @include back('mag/9.png'); }
  .mag-ten { @include back('mag/10.png'); }
  .mag-eleven { @include back('mag/1.png'); }
  .mag-twelve { @include back('mag/3.png'); }
}
