@import url(https://fonts.googleapis.com/css?family=Exo+2|Lato:400,100,300,700,900);

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #4d2261 !default;
$brand-success: #d4a630 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$black: #000000 !default;

$font-color: #242424 !default;

$body-bg: #fff !default;
$text-color: $font-color !default;

$section-bg: #d3d3d3 !default;

$link-color: $font-color !default;
$link-hover-color: $font-color !default;
$link-hover-decoration: none !default;

$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
$font-funky: "Lemonade", "Helvetiva Neue", Helvetica !default;
$font-loading: "Exo 2", "Helvetiva Neue", Helvetica !default;

$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

$facebook: #3a579d !default;
$google: #dd4d3c !default;
$twitter: #49c8f5 !default;
$instagram: #396d9a !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {}

.primary-bg { background-color: $brand-primary;}
.success-bg { background-color: $brand-success;}
.warning-bg { background-color: $brand-warning;}
.danger-bg { background-color: $brand-danger;}
.info-bg { background-color: $brand-info;}

.primary { color: $brand-primary; }
.success { color: $brand-success; }
.warning { color: $brand-warning; }
.danger { color: $brand-danger; }
.info { color: $brand-info; }
.black { color: $black; }

img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a { text-decoration: none; }

/* Start writing sass here */
