<section>
  <div class="cart">
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Shopping Bag</th>
            <th>Quantity</th>
            <th>Options</th>
            <th>Subtotal</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="" alt="" class="img-responsive" />
              <div class="cart-prod">
                <span class="">Lee Western Shirt</span>
                <span>Size: M</span>
              </div>
            </td>
            <td>
              <input type="number" name="name" value="1">
            </td>
            <td>
              <a href=""><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-bell"></i></a>
            </td>
            <td><span>39,50 &euro;</span></td>
            <td>
              <a href=""> <i class="fa fa-times-circle"></i></a>
            </td>
          </tr>
          <hr>
          <tr>
            <td>
              <img src="" alt="" class="img-responsive" />
              <div class="cart-prod">
                <span class="">Lee Western Shorts</span>
                <span>Size: M</span>
              </div>
            </td>
            <td>
              <input type="number" name="name" value="1">
            </td>
            <td>
              <a href=""><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-bell"></i></a>
            </td>
            <td><span>39,50 &euro;</span></td>
            <td>
              <a href=""> <i class="fa fa-times-circle"></i></a>
            </td>
          </tr>
          <hr>
          <tr>
            <td>
              <img src="" alt="" class="img-responsive" />
              <div class="cart-prod">
                <span class="">Lee Western Shirt</span>
                <span>Size: M</span>
              </div>
            </td>
            <td>
              <input type="number" name="name" value="1">
            </td>
            <td>
              <a href=""><i class="fa fa-pencil"></i></a>
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-bell"></i></a>
            </td>
            <td><span>39,50 &euro;</span></td>
            <td>
              <a href=""> <i class="fa fa-times-circle"></i></a>
            </td>
          </tr>
          <hr>
          <tr>
            <td>
              <button type="button" class="btn btn-primary text-uppercase"><i class="fa fa-arrow-left"></i> Continue Shopping</button>
            </td>
            <td></td>
            <td>
              <span>Bag Total</span>
              <span>Discount</span>
              <span>Delivery Fee</span>
            </td>
            <td>
              <span>139,50 &euro;</span>
              <span>0 &euro;</span>
              <span>0 &euro;</span>
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><span class="text-uppercase">Total</span></td>
            <td><span>319,50 &euro;</span></td>
            <td><span class="text-uppercase">Place Order <i class="fa fa-arrow-right"></i></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
