<!-- <section class="section one" ng-include="section.one"></section>
<section class="section two" ng-include="section.two"></section>
<section class="section three" ng-include="section.three"></section>
<section class="section four" ng-include="section.four"></section>
<section class="section five" ng-include="section.five"></section>
<section class="section six" ng-include="section.six"></section>
<section class="section seven" ng-include="section.seven"></section> -->

<section class="home">
  <div class="header-nav white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="logo">
            <img src="" alt="" />
          </div>
        </div>
        <div class="col-md-10">
          <div class="other-links pull-right">
            <ul>
              <li><a href="" class="text-uppercase">New in</a></li>
              <li><a href="" class="text-uppercase">Woman</a></li>
              <li><a href="" class="text-uppercase">Man</a></li>
              <li><a href="" class="text-uppercase">Kids</a></li>
              <li><a href="" class="text-uppercase">Brands</a></li>
              <li><a href="" class="text-uppercase">Sales</a></li>
              <li><a href="#/mag" class="text-uppercase">Mag</a></li>
              <li><a href="" class="text-uppercase">A Club</a></li>
              <li><a href="#/like" class="text-uppercase">Stores</a></li>
              <li><a href="" class="text-uppercase"><i class="fa fa-search"></i></a></li>
              <li>
                <a class="btn btn-brand text-uppercase">Create account</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-main white">
    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <div class="one home-block text-uppercase">
            <div class="inner-block">
              <p class="warning">New Collection</p>
              <h2>A Tribute to xxi century women</h2>
              <button type="button" class="btn btn-light text-uppercase">Shop now</button>
              <button type="button" class="btn btn-light text-uppercase">Read More</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="two home-block text-uppercase">
            <div class="inner-block">
              <p class="success">New Collection</p>
              <h4>#Newarrival ready to rock?</h4>
              <button type="button" class="btn btn-light text-uppercase">Shop now</button>
            </div>
          </div>
          <div class="three home-block text-uppercase">
            <div class="inner-block">
              <h2>Sales</h2>
              <h2>upto 70% off</h2>
              <p>update your wardrobe!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="four home-block text-uppercase">
            <div class="inner-block">
              <p class="warning">Man</p>
              <h4>Break the rules and showyourself!</h4>
              <button type="button" class="btn btn-light text-uppercase">Shop now</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="five home-block text-uppercase">
            <div class="inner-block">
              <h4>Discover the A mag club. more than a fashion world!</h4>
              <button type="button" class="btn btn-light text-uppercase">Discover</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="six home-block text-uppercase">
            <div class="inner-block">
              <p class="info">Kids</p>
              <h4>Children territory! Be your own hero!</h4>
              <button type="button" class="btn btn-light text-uppercase">Shop now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="seven home-block text-uppercase">
            <div class="inner-block">
              <p>megamart</p>
              <p>Fashion Designer</p>
              <p>of the year</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="eight home-block text-uppercase">
            <div class="inner-block">
              <p class="primary">Instagram</p>
              <h4>Be a part of the A-community!</h4>
              <button type="button" class="btn btn-light text-uppercase">Shop now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="nine home-block text-uppercase">
            <div class="inner-block">
              <h4>Your personality, your attitude, your denim</h4>
              <button type="button" class="btn btn-light text-uppercase">Customize</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ten home-block text-uppercase">
            <div class="inner-block">
              <h4>Bespoked, beguiled, bewitched</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
