<section>
  <div class="like">
    <div class="container">
      <div class="row">
        <h2 class="text-uppercase text-center primary">You might like</h2>
        <div class="col-md-3">
          <img src="img/like/1.png" alt="" class="img-responsive" />
          <div class="like-icons">
            <div class="row">
              <div class="col-md-offset-3 col-md-2">
                <a href=""><i class="fa fa-bell-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase">Lee Western Clothes</span>
            <span class="detail">Lorem ipsum clothes</span>
            <span class="cost primary">39,50 &euro;</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="img/like/2.jpg" alt="" class="img-responsive" />
          <div class="like-icons">
            <div class="row">
              <div class="col-md-offset-3 col-md-2">
                <a href=""><i class="fa fa-bell-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase">Lee Western Clothes</span>
            <span class="detail">Lorem ipsum clothes</span>
            <span class="cost primary">39,50 &euro;</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="img/like/3.png" alt="" class="img-responsive" />
          <div class="like-icons">
            <div class="row">
              <div class="col-md-offset-3 col-md-2">
                <a href=""><i class="fa fa-bell-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase">Lee Western Clothes</span>
            <span class="detail">Lorem ipsum clothes</span>
            <span class="cost primary">39,50 &euro;</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="img/like/4.png" alt="" class="img-responsive" />
          <div class="like-icons">
            <div class="row">
              <div class="col-md-offset-3 col-md-2">
                <a href=""><i class="fa fa-bell-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="col-md-2">
                <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase">Lee Western Clothes</span>
            <span class="detail">Lorem ipsum clothes</span>
            <span class="cost primary">39,50 &euro;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
