<section>
  <div class="like">
    <div class="container">
      <div class="row">
        <h2 class="text-uppercase text-center">You might like</h2>
        <div class="col-md-3">
          <img src="" alt="" class="img-responsive" />
          <div class="row">
            <div class="col-md-offset-3 col-md-2">
              <a href=""><i class="fa fa-bell-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-heart-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-bag"></i></a>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase"></span>
            <span class="detail"></span>
            <span class="cost">39,50 &euro;</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="" alt="" class="img-responsive" />
          <div class="row">
            <div class="col-md-offset-3 col-md-2">
              <a href=""><i class="fa fa-bell-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-heart-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-bag"></i></a>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase"></span>
            <span class="detail"></span>
            <span class="cost">39,50 &euro;</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="" alt="" class="img-responsive" />
          <div class="row">
            <div class="col-md-offset-3 col-md-2">
              <a href=""><i class="fa fa-bell-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-heart-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-bag"></i></a>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase"></span>
            <span class="detail"></span>
            <span class="cost">39,50 &euro;</span>
          </div>
        </div>

        <div class="col-md-3">
          <img src="" alt="" class="img-responsive" />
          <div class="row">
            <div class="col-md-offset-3 col-md-2">
              <a href=""><i class="fa fa-bell-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-heart-o"></i></a>
            </div>
            <div class="col-md-2">
              <a href=""><i class="fa fa-bag"></i></a>
            </div>
          </div>
          <div class="like-detail text-center">
            <span class="text-uppercase"></span>
            <span class="detail"></span>
            <span class="cost">39,50 &euro;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
