<section>
  <div class="mag-section">
    <div class="container">
      <h2 class="text-uppercase text-center primary">Mag</h2>

      <div class="row">
        <div class="col-md-8">
          <div class="mag-one mag-block">
            <h3 class="text-uppercase">Feel the india experience</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mag-two mag-block">
            <h3 class="text-uppercase">Elegance is with you</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mag-three mag-block">
            <h3 class="text-uppercase">Every thing you want</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mag-four mag-block">
            <h3 class="text-uppercase">Show off your style</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mag-five mag-block">
            <h3 class="text-uppercase">Fashion addict</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mag-six mag-block">
            <h3 class="text-uppercase">Art is in joy of dressing </h3>
          </div>
        </div>
        <div class="col-md-8">
          <div class="mag-seven mag-block">
            <h3 class="text-uppercase">Fashion is always outrageous</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mag-eight mag-block">
            <h3 class="text-uppercase">Pants on</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mag-nine mag-block">
            <h3 class="text-uppercase">What you wear what presents you</h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mag-ten mag-block">
            <h3 class="text-uppercase">Fashion is what designed for</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="mag-eleven mag-block">
            <h3 class="text-uppercase"></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mag-twelve mag-block">
            <h3 class="text-uppercase"></h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
