<header class="gray-bg white">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="links">
          <ul>
            <li><a href="">Recently Viewed</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Create account</a></li>
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-offset-3 col-md-2">
        <div class="local-links">
          <ul>
            <li><a href=""><i class="fa fa-bell-o"></i></a></li>
            <li><a href=""><i class="fa fa-heart-o"></i></a></li>
            <li><a href="#/cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
